
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f8f7;;
}

 /* nav */
 nav{
    width: 100%;
    height: 90px;
    font-family: alegreya,serif;
    font-size: medium;
   }
   .logo{
    font-family: "Lucida Handwriting";
    color: rgb(4, 94, 4);
    margin-right: 100px;
    
   }
   /* background image nav */
   .home-img{
    background-image: url(images/banner/desh-catering-itemized-price-list-dhaka.jpg);
   }
   .service.img{
    background-image: url(images/banner/banner3.png);
   }
   .shop-img{
    background-image: url(images/banner/shop.png);
   }
    .slide-1{
      /* background-image: url(images/banner/desh-catering-itemized-price-list-dhaka.jpg); */
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
      transition-duration: 0.3s, 0.3s, 0.3s, 0.3s;
      transition-timing-function: ease, ease, ease, ease;
      transition-delay: 0s, 0s, 0s, 0s;
      transition-property: background, border, border-radius, box-shadow;
      position: relative;
      background-attachment: fixed;
      
    }
    .bannerBlackOverlay {
      min-height: 100vh;
      width: 100%;
      background: rgba(0.2, 0, 0, 0.3);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  .bannerTitle{
    font-weight: 1000;
      font-size: 100px;
      color: #fff;
      text-align: center!important;
      position: relative;
  }

.client{
    background-color:rgb(238, 181, 106);
}

  
.client-block{
    height: 185px;
    width: 209px;
    background-color: rgb(55, 59, 52);
    display: inline-block;
    margin: 5px;
}
.client-block img{
    width: 160px;
    height: 120px;
    margin-top: 32px;

}
/* form */
.form-fill{
    width: 70%;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgb(53 105 128 / 30%), 0 6px 20px 0 rgb(165 200 213 / 41%);
   margin-left: 160px;
   padding-top: 30px;
   color: #33475b;
}
/* price-list */
 
.price{
    
    width: 500px;

}

/* ul{
    margin-left: 170px;
} */

.img-height{
    height: 550px;
}
footer{
    background-color: rgb(62, 62, 62);
    color: white;
}
/* service */
.Private{
    background-color:#F4CD78;
    height: 350px;
    width: 100%;
    padding-top: 80px;
}

.Birthday{
    background-image: url(images/service/Birthday.png);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.wedding{
    background-image: url(images/service/wedding.png);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.family{
    background-image: url(images/service/family.png);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.conference{
    background-image: url(images/service/conference.png);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.small{
    background-image: url(images/service/social.png);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.cafe{
    background-image: url(images/service/cafe.png);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.service-item{
    height: 570px;
    width: 520px;
    background-color: antiquewhite;  
 /* margin-left: auto;
 margin-right: 30px; */
 opacity: 0.8;
} 
/* login */
.login{
    max-width: 1140px;
    margin-right: auto;
        margin-left: auto;
        }
        .loginFormMainDiv {
        display: flex;
        justify-content: center;
    
        align-items: center;
        min-height: 100vh;
        width: 100%;
    }
    .loginFormDiv {
        flex-direction: column;
        box-shadow: 0 1px 4px rgb(0 0 0 / 16%);
        width: 60%;
    }
    .loginFormDiv, .loginFormMainDiv {
        display: flex;
        justify-content: center;
    }
    .loginForm__title {
        text-align: center;
        margin: 5% 0;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2rem;
    
    }
    .loginForm {
        padding: 0 10% 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .form-floating {
        position: relative;
        /* width: 400px; */
    }
    .registrationForm__title {
        text-align: center;
        margin: 5% 0;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2rem;
    }
    .registrationForm {
        padding: 0 10% 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }